# Main Service
PORT=8000
URL=
DEBUG=

ADMIN_EMAIL=

# Service Secret
CHECK_POLICIES_KEY=
ENCRYPT_KEY=

# Discord
DISCORD_WEBHOOK_URL=

# Jwt Secret
SECRET=
TOKEN_DURATION='3600s'


# Typeorm
ENTITY_PATH='src/**/entities/*.entity{.ts,.js}'
MIGRATION_PATH='src/database/migrations/*{.ts,.js}'
SEEDS_PATH='src/database/seeds/*{.ts,.js}'
FACTORIES_PATH='src/database/factories/*{.ts,.js}'

# Database
DATABASE_HOST='localhost'
DATABASE_PORT=5432
DATABASE_NAME= 
DATABASE_USERNAME=
DATABASE_PASSWORD=

# Google Cloud Storage
GCS_SA_KEY=path/to/your/service_access_key.json
GCS_BUCKET_NAME=
GCS_PUBLIC_IMAGE_URL=
IMAGE_FILE_NAME_SECERT=

# Google Application
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_OAUTH_REDIRECT_URI=
GOOGLE_OAUTH_SCOPE=

GOOGLE_CREDENTIALS_TYPE=
GOOGLE_CREDENTIALS_PROJECT_ID=
GOOGLE_CREDENTIALS_PRIVATE_KEY_ID=
GOOGLE_CREDENTIALS_PRIVATE_KEY=
GOOGLE_CREDENTIALS_CLIENT_EMAIL=
GOOGLE_CREDENTIALS_CLIENT_ID=
GOOGLE_CREDENTIALS_AUTH_URI=
GOOGLE_CREDENTIALS_TOKEN_URI=
GOOGLE_CREDENTIALS_AUTH_PROVIDER_X509_CERT_URL=
GOOGLE_CREDENTIALS_CLIENT_X509_CERT_URL=

# Facebook Application
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_REDIRECT_URI=
FACEBOOK_SCOPE=

# Omise
OMISE_SECRET_KEY=

# Directus
DIRECTUS_PORT=8055
DIRECTUS_KEY='key'
DIRECTUS_SECRET='secret'
DIRECTUS_ADMIN_EMAIL='admin@localhost.com'
DIRECTUS_ADMIN_PASSWORD='password'
DIRECTUS_PUBLIC_URL=''